<% if flash[:message] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:message] %>
    </div>
<% end %>

<% if flash[:alert] %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:alert] %>
    </div>
<% end %>

<div style="margin-left: 0%">
  <%= form_tag  :url=> {:action => :company}, :method => 'get' do %>

      <!-- text_field_tag :search1, params[:search1], :placeholder => "Enter points to transfer: " -->

      <table class="table table-striped" style="width: 100%">
        <thead>
        <tr>
          <th>Company Name</th>
          <th>Job Type</th>
          <th>Branch</th>
        </tr>
        </thead>

        <tbody>
        <% @companies.each do |company| %>
            <tr>
              <td>
                <%= select_tag 'company_list', options_for_select(@resume_name) %>
              </td>

              <td>
                <%= select_tag 'resume_list', options_for_select(@resume_name) %>
              </td>

              <td>
                <%= select_tag 'resume_list', options_for_select(@resume_name) %>
              </td>

              <td>
                <% if (reg = StudCompReg.where("student_id = #{@student_id} and company_id = #{company.id}").first.nil?)%>
                    <button type="submit" class="btn btn-info" name="company_id" value="<%= company.id %>">Apply</button>
                <% else %>
                    <button type="submit" class="btn btn-info" name="company_id" disabled value="<%= company.id %>">Applied</button>
                <% end %>

              </td>
              <td><%= company.name %></td>
              <td><%= company.category %></td>
              <td><%= "2 Months" %> </td>
              <td><%= company.location %></td>
              <td><%= company.requirement %></td>
              <br/>
            </tr>
        <% end %>
        </tbody>
      </table>

  <% end %>
</div>

<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @companies %>
  </div>
  <%= will_paginate @companies, :container => false %>
</div>
