<% if flash[:upload_error] %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:upload_error] %>
    </div>
<% end %>

<div style="margin-left: 1%">
  <%= form_tag  :url=> {:action => :reports}, :method => 'get' do %>

      <!-- text_field_tag :search1, params[:search1], :placeholder => "Enter points to transfer: " -->

      <table class="table" style="width: auto;">
        <thead>
        <tr>
          <th>Company Name</th>
          <!-- <th>Branch</th> -->
        </tr>
        </thead>

        <tbody>
        <tr>
            <!-- select_tag 'job_type_name', options_for_select(@job_type, @j_name), :include_blank => true -->

          <td>
            <%= select_tag 'company_name', options_for_select(@companies, @comp_name), :include_blank => false %>
          </td>

         <!-- <td>
            <= select_tag 'branch_name', options_for_select(@branch_name, @b_name), :include_blank => true %>
          </td>
          -->
        <td>

          <button class="btn" type="submit" name="company_submit" value="" formaction="<%= admin_reports_path(format: 'csv') %>" >Download CSV</button>

        </td>
        </tr>

        </tbody>
      </table>

      <br/>


      <table class="table" style="width: auto;">
        <thead>
        <tr>
          <th>Year of Graduation</th>
          <!-- <th>Branch</th> -->
        </tr>
        </thead>

        <tbody>
        <tr>
          <!-- select_tag 'job_type_name', options_for_select(@job_type, @j_name), :include_blank => true -->

          <td>
            <%= select_tag 'year_number', options_for_select(@year_of_grads, @year_grad_number), :include_blank => false %>
          </td>

          <!-- <td>
             <= select_tag 'branch_name', options_for_select(@branch_name, @b_name), :include_blank => true %>
           </td>
           -->
          <td>
            <button class="btn" type="submit" name="year_submit" formaction="<%= admin_reports_path(format: 'csv') %>" value="" >Download</button>
          </td>

        </tr>

        <tr>
          <td>
            <input type="file" id="upload_datafile" name="upload[datafile]" > <br/>
            <br/>
            <button class="btn" name="upload_data" type="submit">Upload CSV</button>
          </td>
        </tr>

        </tbody>
      </table>

      <!-- link_to "CSV", admin_reports_path(format: "csv") -->

        <!-- link_to "Excel", admin_reports_path(format: "xls") -->

      <!--= text_field_tag :sql_query, params[:sql_query], :placeholder => "Search Companies" -->

  <% end %>
 </div>

