
<div style="margin-left: 0%">
  <%= form_tag  :url=> {:action => :index}, :method => 'get' do %>

      <!-- text_field_tag :search1, params[:search1], :placeholder => "Enter points to transfer: " -->

      <table class="table table-striped" style="width: 100%">
        <thead>
        <tr>
          <th>Select Resume</th>
          <th>Apply to Companies</th>
          <th>Company Name</th>
          <th>Category</th>
          <th>Duration</th>
          <th>Location</th>
          <th>Requirement</th>
        </tr>
        </thead>
        <% Company.all.each do |company| %>
            <tr>
              <td>
                <%= select_tag 'resume_name', options_for_select(@resume_name, @r_name), :include_blank  => true %>
              </td>

              <td>
                <% if (reg = StudCompReg.where("student_id = #{current_student.id} and company_id = #{company.id}").first.nil?)%>
                    <button type="submit" class="btn btn-info" name="company_id" value="<%= company.id %>">Apply</button>
                <% else %>
                    <button type="submit" class="btn btn-info" name="company_id" disabled value="<%= company.id %>">Applied</button>
                <% end %>

              </td>
              <td><%= company.name %></td>
              <td><%= company.category %></td>
              <td><%= "2 Months" %> </td>
              <td><%= company.location %></td>
              <td><%= company.requirement %></td>
              <br/>
            </tr>
      <% end %>
      </table>

  <% end %>
</div>