<% if flash[:message] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:message] %>
    </div>
<% end %>

<p></p>
<br/>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#personal" data-toggle="tab">Personal Details</a></li>
    <li><a href="#contact" data-toggle="tab">Contact Details</a></li>
    <li><a href="#education" data-toggle="tab">Educational Info</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="personal" style="margin-left: 1%">

      <p></p>
      <form accept-charset="UTF-8" class="form-horizontal" method="post">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

        <div class="control-group">
          <label class="control-label" for="first_name" style="font-weight: bold">First Name* :</label>
          <div class="controls">
            <input type="text" id="first_name" name="first_name" placeholder="eg. Saurabh" value="<%= @details.first_name  %>">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="middle_name" style="font-weight: bold">Middle Name :</label>
          <div class="controls">
            <input type="text" id="middle_name" name="middle_name" placeholder="" value="<%= @details.middle_name %>">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="last_name" style="font-weight: bold">Last Name* :</label>
          <div class="controls">
            <input type="text" id="last_name" name="last_name" placeholder="eg. Jain" value="<%= @details.last_name  %>">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="dob" style="font-weight: bold">Date of Birth* :</label>
          <div class="controls">
            <input type="text" id="dob" name="dob" placeholder="eg. 01/01/1990" value="<%= @details.dob %>">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="gender" style="font-weight: bold">Gender :</label>
          <div class="controls">
            <input type="text" id="gender" name="gender" placeholder="eg. Male" value="<%= @details.gender  %>">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="category_name" style="font-weight: bold">Category :</label>
          <div class="controls">
            <%= select_tag 'category_name', options_for_select(Category.all.collect{ |cat| [cat.name] }) %>
          </div>
        </div>

    <!--    <div class="accordion-heading" style="font-family: Georgia; font-size: 30px">Hostel Information:</div>
    -->
        <div class="control-group">
          <label class="control-label" for="hostel_name" style="font-weight: bold">Hostel Name* :</label>
          <div class="controls">
            <input type="text" id="hostel_name" name="hostel_name" placeholder="eg. Parashar Hostel" value="<%= @details.hostel_name %>">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="hostel address" style="font-weight: bold">Hostel Address* :</label>
          <div class="controls">
        <!--    <input type="text" id="gender" name="gender" placeholder="eg. Male" value="<= @details.gender  %>"> -->
            <textarea id="hostel_address" name="hostel_address" placeholder="" value="<%= @details.hostel_address %>"> </textarea>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="city" style="font-weight: bold">City :</label>
          <div class="controls">
            <input type="text" id="city" name="city" placeholder="eg. Mandi" value="<%= @details.city %>">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="state" style="font-weight: bold">State :</label>
          <div class="controls">
            <input type="text" id="state" name="state" placeholder="eg. Himachal Pradesh" value="<%= @details.state  %>">
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <button type="submit" name="personal_info" class="btn" style="">Submit</button>
          </div>
        </div>


      </form>

    </div>

    <div class="tab-pane" id="contact">

      <form accept-charset="UTF-8" class="form-horizontal" method="post">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

        <div class="control-group">
          <label class="control-label" for="personal_email" style="font-weight: bold">Personal Email :</label>
          <div class="controls">
            <input type="text" id="personal_email" name="personal_email" placeholder="" autofocus="true" value="<%= @contact_info.personal_email %>">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="phone_number1" style="font-weight: bold">Phone Number1* :</label>
          <div class="controls">
            <input type="text" id="phone_number1" name="phone_number1" placeholder="eg. 9999912345" value="<%= @contact_info.phone_number1 %>">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="phone_number2" style="font-weight: bold">Phone Number2 :</label>
          <div class="controls">
            <input type="text" id="phone_number2" name="phone_number2" placeholder="" autofocus="true" value="<%= @contact_info.phone_number2 %>">
          </div>
        </div>

        <div class="control-group">

          <div class="controls">
            <button type="submit" name="submit_contact_info" class="btn" style="">Submit</button>
          </div>
        </div>

      </form>
    </div>

    <div class="tab-pane" id="education" style="margin-left: 1%">
      <!-- form_tag :url => {:action => :my_profile}, method: :get do %>
          <div> < "Personal Email: " %>  <= text_field_tag :personal_email, params[:personal_email], :placeholder => "#{@contact_info.personal_email}" %>
          </div>

          Branch: < select_tag 'branch_name', options_for_select(@branch, @b_name) %>
          <br/>
          Degree: <= select_tag 'degree_name', options_for_select(@degree, @d_name) %>
          <br/>

          <div> < "Enrolment Number: " %>  <= text_field_tag :enrol_number, params[:enrol_number], :placeholder => "" %>
          </div>
          <br/>
          < submit_tag 'Submit' %>
          <!--   <button type="submit" class="btn btn-info"> Submit</button> -->

      <form accept-charset="UTF-8" class="form-horizontal" method="post">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

        <div class="control-group">
          <label class="control-label" for="enrol_number" style="font-weight: bold">Enrolment Number* :</label>
          <div class="controls">
            <input type="text" id="enrol_number" name="enrol_number" placeholder="BXXXXX" value="<%= @enrol_number %>">
          </div>
        </div>


        <div class="control-group">
          <label class="control-label" for="year_of_grad" style="font-weight: bold">Graduation Year* :</label>
          <div class="controls">
            <input type="text" id="year_of_grad" name="year_of_grad" placeholder="eg. 2015" value="<%= @year  %>">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="degree_name" style="font-weight: bold">Degree :</label>
          <div class="controls">
            <%= select_tag 'degree_name', options_for_select(@degree_names, @d_name) %>
          </div>
        </div>


        <div class="control-group">
          <label class="control-label" for="branch_name" style="font-weight: bold">Branch :</label>
          <div class="controls">
            <%= select_tag 'branch_name', options_for_select(@branch_names, @b_name) %>
          </div>
        </div>

        <br/>

        <div class="control-group">
          <div class="controls">
            <button type="submit" name="submit_degree_info" class="btn" style="font-weight: bold">Submit</button>
          </div>
        </div>
      </form>

    </div>

    </div>
</div>


